<!DOCTYPE html>
<html>

<body style = background-image:"https://image.freepik.com/free-vector/blue-geometric-technological-background_1055-1907.jpg">

<div class="scrollable">
	<div class="scrollable-content">
		<div class="list-group text-center">
			<!-- cục giới thiệu -->
			<div class="list-group-item list-group-item-home">
				<img src = "https://hcmuaf.edu.vn/images/banner_nlu.jpg" alt = "https://hcmuaf.edu.vn/images/banner_nlu.jpg" width = "750" height ="60">
				<h1 style = "padding:13px" "color:rgb(113, 159, 209);"> <font face ="times new roman"  >ĐỒ ÁN ĐO LƯỜNG <br>& ĐIỀU KHIỂN BẰNG MÁY TÍNH </font><small></small>
				</h1>
			</div>
			
			<!-- Cục cảm biến mưa -->
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-gamepad feature-icon text-primary"></i>
				</div>
				<div>
					<h2 style =  "padding:13px;background-color:orange;color:rgb(139, 49, 174);"> <font face ="times new roman"  >Giá Trị Cảm Biến </font><small></small>
					</h2>
					<img src = "https://static1.squarespace.com/static/52ff95d2e4b09e6f5ea68134/t/57e68a3ef7e0ab5e257af56a/1474726462205/?format=original" alt = "https://static1.squarespace.com/static/52ff95d2e4b09e6f5ea68134/t/57e68a3ef7e0ab5e257af56a/1474726462205/?format=original" width = "720" height ="120">
					<div style="background-color:powderblue;">
					<br><span style="color:green;font-size:120%" "text-align:left;"><font face ="times new roman" size="4.95px" ><b>Nhiệt Độ: </b></span><b>{{NhietDo }} </b><sup>o</sup>C <br>
					<br><span style="color:green;font-size:120%" "text-align:left;"><font face ="times new roman" size="4.95px" ><b>Độ Ẩm: </b></span><b> {{DoAm }}</b> % <br>
					<br><span style="color:green;font-size:120%" "text-align:left;"><font face ="times new roman" size="4.95px" ><b>Cảm Biến Ánh Sáng: </b></span><b>{{AnhSang }} </b><br>
					<br><span style="color:green;font-size:120%" "text-align:left;"><font face ="times new roman" size="4.95px" ><b>Cảm Biến Mưa: </b></span><b> {{Mua}} </b><br>
					<br><span style="color:green;font-size:120%" "text-align:left;"><font face ="times new roman" size="4.95px" ><b>Độ Ẩm Đất 1: </b></span><b> {{DoAmDat1}} </b> % <br>
					<br><span style="color:green;font-size:120%" "text-align:left;"><font face ="times new roman" size="4.95px" ><b>Độ Ẩm Đất 2: </b></span><b> {{DoAmDat2}} </b> % <br>
					<br><span style="color:green;font-size:120%" "text-align:left;"><font face ="times new roman" size="4.95px" ><b>Độ Ẩm Đất 3: </b></span><b> {{DoAmDat3}} </b> % <br>
					<br><span style="color:green;font-size:120%" "text-align:left;"><font face ="times new roman" size="4.95px" ><b>Độ Ẩm Đất 4: </b></span><b> {{DoAmDat4}} </b> % <br>
					<br><span style="color:green;font-size:120%" "text-align:left;"><font face ="times new roman" size="4.95px" ><b>Độ Ẩm Đất 5: </b></span><b> {{DoAmDat5}} </b> % <br>
					<br><span style="color:green;font-size:120%" "text-align:left;"><font face ="times new roman" size="4.95px" ><b>Độ Ẩm Đất 6: </b></span><b> {{DoAmDat6}} </b> % <br>
					</div>
				</div>
			</div>
			
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-gamepad feature-icon text-primary"></i>
				</div>
				<div>
				<h2 style =  "padding:13px;background-color:orange;color:rgb(139, 49, 174);"> <font face ="times new roman"  >Thiết Bị </font><small></small>
				</h2>
				<script>
					function light(sw) {
						var pic;
						if (sw == 0) {
							pic = "pic_bulboff.gif"
						} else {
							pic = "pic_bulbon.gif"
						}
						document.getElementById('myImage').src = pic;
					}
					</script>

					<img id="myImage" src="pic_bulboff.gif" width="100" height="180">

					<p>
					<button type="button" onclick="light(1)">Light On</button>
					<button type="button" onclick="light(0)">Light Off</button>
					</p>
					<br><span style="color:green;"><b> Đèn:</b></span><span style="color:red;"><i>{{Den}}</i></span><br>
					<br><span style="color:green;"><b> Quạt:</b></span><span style="color:red;"><i>{{Quat}}</i></span><br>
					<br><span style="color:green;"><b> Bơm:</b></span><span style="color:red;"><i>{{Bom}}</i></span><br>
					<br><span style="color:green;"><b> Mái Che:</b></span><span style="color:red;"><i>{{MaiChe}}</i></span><br>
				</div>
			</div>
			
			<!-- Cục thay đổi trạng thái LED -->
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-tachometer feature-icon  text-primary"></i>
				</div>
				<div>
					<h2 style =  "padding:13px;background-color:orange;color:rgb(139, 49, 174);"> <font face ="times new roman"  > Chế Độ Hoạt Động </font><small></small>
					</h2>
					Lựa Chọn Chế Độ:
					<select ng-model="myVar">
					  <option value="Auto">Điều khiển Tự Động
					  <option value="Hand">Điều khiển Bằng Tay
					</select>

					<hr>
					<div ng-switch="myVar">
					  <div ng-switch-when="Auto">
						  <h3 style =  "padding:13px;background-color:rgb(236, 255, 179);color:rgb(255, 92, 51);font-size:150%"> <font face ="times new roman"  > Đang Bật Chế Độ Điều khiển Tự Động<h3></font>
						 <div>
							<!-- rgb(144, 144, 144) rgb(26, 255, 83) rgb(236, 255, 179) rgb(217, 217, 217) -->
							
							<br><span style = "color:rgb(77, 77, 77);font-size:100%"><font face ="times new roman"> __Nhiệt Độ:   <input type="text" class="input text" size = "4" ng-model="Parameter[0]" ng-change="SET_VALUE()" /></b><sup> o</sup>C <br>
							<br><span style = "padding:13px;color:rgb(77, 77, 77);font-size:100%"><font face ="times new roman">Độ Ẩm Đất:<input type="text" class="input text" size = "4" ng-model="Parameter[1]" ng-change="SET_VALUE()" /></b> <strong>%</strong> <br>
							<p></p> 
							<p></p> 
							<script src = "http://code.jquery.com/jquery-latest.js"></script>
							<script>
							$(function(){
								$(':reset').wrap('<span class = "bgChoose"></span>')
							});
							</script>
							<img src = "http://xn----dtbfdbwspgnceulm.xn--p1ai/download/file.php?avatar=8628_1383950701.gif" alt = "" width = "60" height ="45">
							<button type ="reset" style = "color:rgb(179, 89, 0)" class="button" size = "4" ng-click="Reset_W()"><img src = "https://marketplace.canva.com/MACGiS88K1Y/1/thumbnail_large/canva-flat-arrow-sign-reset-icon-hexagon-button-MACGiS88K1Y.png" alt = "https://marketplace.canva.com/MACGiS88K1Y/1/thumbnail_large/canva-flat-arrow-sign-reset-icon-hexagon-button-MACGiS88K1Y.png" width = "50" height ="45"></button>
							<button style = "color:rgb(179, 89, 0)" class="button" size = "4" ng-click="Auto_Run_W()"><img src = "http://www.free-icons-download.net/images/start-button-icon-44464.png" alt = "http://www.free-icons-download.net/images/start-button-icon-44464.png" width = "50" height ="45"></button>
							<button style = "color:rgb(228, 217, 205)" class="button" size = "4" ng-click="Auto_Stop_W()"><img src = "http://www.free-icons-download.net/images/player-stop-icon-3266.png" alt = "http://www.free-icons-download.net/images/player-stop-icon-3266.png" width = "50" height ="45"></button>
							
						 </div>
					  </div>
					  <div ng-switch-when="Hand">
						 <h3 style =  "padding:13px;background-color:rgb(236, 255, 179);color:rgb(255, 92, 51);font-size:150%"> <font face ="times new roman"  > Đang Bật Chế Độ Điều khiển Bằng Tay <h3></font>
						 <div>
							<!-- rgb(144, 144, 144) rgb(26, 255, 83) rgb(236, 255, 179) rgb(217, 217, 217) -->
							<br><span style = "color:rgb(77, 77, 77);font-size:100%"><font face ="times new roman">Đèn <input type="checkbox" ng-true-value="1"  ng-false-value="0"  ng-change="Hand_W()"ng-model="Device_status[1]"  /><br></font>
							<font face ="times new roman"><br>Quạt <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-change="Hand_W()"ng-model="Device_status[2]"  /></font><br>
							<font face ="times new roman"><br>Bơm <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-change="Hand_W()"ng-model="Device_status[3]"  /></font><br>
							<font face ="times new roman"><br>Mái Che <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-change="Hand_W()"ng-model="Device_status[4]"  /></font><br>
					</div>
					  </div>
				
					  <div ng-switch-default>
						 <h1>Switch</h1>
						 <p>Select topic from the dropdown, to switch the content of this DIV.</p>
						 <img src = "http://i.imgur.com/4u9sFsO.gif" alt = "http://i.imgur.com/4u9sFsO.gif" width = "150" height ="150">
					  </div>
					</div>
					<hr>

					<p>You must select one of two control modes: manual or automatic</p>
				</div>
			</div>
			
			<!-- Cục cập nhập giá trị cảm biến -->
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-tachometer feature-icon  text-primary"></i>
				</div>
				<div>
					<h3 class="home-heading">Cập nhập cảm biến</h3>
					
					<div ng-app="myApp" ng-controller="myCtrl"> 

					<p>The time is:</p>

					<h1>{{theTime}}</h1>

					</div>

					<p>The $interval service runs a function every specified millisecond.</p>

					<script>
					var app = angular.module('myApp', []);
					app.controller('myCtrl', function($scope, $interval) {
					  $scope.theTime = new Date().toLocaleTimeString();
					  $interval(function () {
						  $scope.theTime = new Date().toLocaleTimeString();
					  }, 1000);
					});
					</script>
					
					
					<button class="button" ng-click="updateSensor()">
						Nhấn vô dể cập nhập giá trị cảm biến
					</div>
				</div>
			</div>
			
			
		</div>
	</div>
</div>
</body>
</html>